<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Muro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar navbar-light  justify-content-between  " style="background-color: #e7f7ff;">
        <h1 class="navbar mx-5">Coding Dojo Wall</h1>
        <div class="navbar justify-content-between">
            <h3 class="mx-5">Bienvenido {{user.first_name}}</h3>
            <a href="/logout" class="btn btn-outline-primary m-2 sm-0 mx-5">Cerrar Sesión</a>
        </div>
    </nav>



        <div class="container-lg">
            <div class="row">
                <div class="col-6">
                    <h3 class="text-center">Tienes <span id=""></span> 
                        <!-- {% if x == 1 %}
                        mensaje
                        {% else %}
                            mensajes
                        {% endif %} -->
                        {% for message in messages %}
                            <div class="card">
                                <div class="card-title">{{message.sender_name}} dice:</div>
                                <div class="card-text">{{message.text}}</div>
                                <a class="btn btn-danger" href="/eliminar/mensaje/{{message.id}}">Borrar</a>
                            </div>
                        {% endfor %}

                    </h3>
                </div>
                <div class="col-6">
                    {% for u in users %}
                        {% if user.id != u.id %}
                            <form action="/send_message" method="post">
                                <label>Mensaje para {{u.first_name}}</label>
                                <textarea class="form-control" name="text"></textarea>
                                <input type="hidden" name="sender_id" value="{{user.id}}">
                                <input type="hidden" name="receiver_id" value="{{u.id}}">
                                <input type="submit" value="Enviar" class="btn btn-success">
                            </form>
                            <hr>
                        {% endif %}
                    {% endfor %}

                </div>
        </div>

        


    
    
</body>
</html>